.yellow, .gray{
	width: 200px;
	height: 100px;
	margin: 10px;
	padding: 10px;
	display: inline-block;
	
}

.yellow{
	background-color: #f7b617;	
}

.gray {
	background-color: #2b2b2b;
	color: white;
}